/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input:focus + label {
    color: #1e88e5 !important;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}

.checkbox-blue.filled-in[type="checkbox"]:checked + span::after {
    background: #1e88e5;
    border-color: #1e88e5;
}
.input-field a {
    margin-left: 1rem;
}
.input-field a:hover {
    text-decoration: underline;
}
